@import "compass/css3";
body {
  background-color: #fff;
  background-image: url("../images/background.png");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  width:100%;
}

.logged-user {
	font-weight: 800;
	color: #204a87;
	font-size: 110%
}
#header {
  display: block;
  background-color: #fff;
  background-image: url("../images/banner.png");
  background-position: center top;
  background-repeat: no-repeat;
  height:220px;
  display: flex;
  align-items: center;
}

.personal_page {
	width: 500px;
	height: 400px;
	background-color: #d3d7cf;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 2%;
	padding-bottom: 2%;
}

.inputField{
	float: right;
	width: 50%;
	clear: both;
}

/* Inställningar för klassen selectField och dess inmantningsfält  */
.selectField{
	float: right;
	width: 50%;
	clear: both;
}

#button {
	text-align: center;
}

li.summary {
	margin-top: 10px;
}

#footer {
  background: #d3d7cf;
}

.main {
  text-align: left;
  background: deepskyblue;
}


@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}
.container {
  padding: 0;
  margin: 1px;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}
div#main-container, nav#left, section.col_container { 
  -webkit-flex-flow: column;
  flex-flow: column;
}
div#middle {
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
header#header, footer#footer {
	flex: 1 100%;	
}
nav#left {
	flex: 1 1;
}
article#mainPage{
	flex: 3 3;
}
textarea#comment {
	width:500px;
	height:120px;
}
table.table{
  border: 1px solid black;
}
table.table th, table.table td{
  border-bottom: 1px solid black;
}
th.table_user, th.table_action,
th.table_time, th.table_comment {
	background: yellow;
}

td.table_action {
  text-align: right;
  margin-right: 1em;
}
td.table_action a{
	color: red;
	font-weight: 900;
	text-decoration: none;
}
td.table_time {
	font-size: 10px;
}
.table_comment, .table_time {
	text-align: left;
}
.table_visitor {
	text-align: left;
	color: blue;
}
.table_spacer {
	width: 5%;
}
section.col_container {
    justify-content: flex-end; 
}
a.delete_comment {cursor: pointer;}

/* style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {background-color: #45a049;}

.grid-container {
  display: grid;
  height: 400px;
  grid-template-columns: auto auto auto;
  align-items: center;
}
.grid-header {
  grid-column: 1 / span 3;
  background: #d2ebf3;
}
.grid-col-2 {
  grid-column: 2;
  text-align: right;
  vertical-align: middle;
}
.grid-col-3 {
  grid-column: 3;
  align-items: center;
  vertical-align: middle;
}
.grid-col-1 {
  grid-column: 1;
  text-align: right;
  vertical-align: middle;
}
.createrace_container {
	grid-gap:10px;
  	height: 80vh;
}
.editrace_container {
	grid-gap:2px;
  	height: 40vh;
}
.createrace_container, .editrace_container {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr 1fr 6fr;
  grid-template-rows: auto auto auto 2fr auto 1fr auto auto;
}
.race-head-left {
	grid-column: 1 / span 2;
}
.race-head-right {
	grid-column: 4 / span 2;
}
.race-input-left {
	grid-column: 2;
}
.race-input-right {
	grid-column: 5;
}
.race-input-wide {
	grid-column: 2 / span 4;
}
.create-container {
	grid-gap:10px;
    height: 80vh;
}
.editcat-container,
.showcat-container {
	grid-gap:2px;
    height: 50vh;
}
.create-container,
.editcat-container,
.showcat-container {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr 1fr 6fr;
  grid-template-rows: 1fr 2fr 1fr 2fr 1fr 2fr 1fr 5fr 1fr auto;
}
.showuser-container {
	display: grid;
	grid-template-columns: 2fr 5fr;
    grid-template-rows: 1fr 1fr 1fr;
    color: #3465a4;
}
.cat-head-left {
	grid-column: 1 / span 2;
}
.cat-head-right {
	grid-column: 4 / span 2;
}
.cat-input-left {
	grid-column: 2;
}
.cat-input-right {
	grid-column: 5;
	white-space: nowrap;
}
.cat-input-wide {
	grid-column: 2 / span 4;
}

.cat-head-11    { grid-area: H11; }
.cat-head-12    { grid-area: H12; }
.cat-head-21    { grid-area: H21; }
.cat-head-22    { grid-area: H22; }
.cat-head-23    { grid-area: H23; }
.cat-head-31    { grid-area: H31; }
.cat-head-41    { grid-area: H41; }
.cat-head-51    { grid-area: H51; }
.cat-head-61    { grid-area: H61; }
.cat-input-11   { grid-area: C11; }
.cat-input-12   { grid-area: C12; }
.cat-input-21   { grid-area: C21; }
.cat-input-22   { grid-area: C22; }
.cat-input-23   { grid-area: C23; }
.cat-input-31   { grid-area: C31; }
.cat-input-32   { grid-area: C32; }
.cat-input-33   { grid-area: C33; }
.cat-input-41   { grid-area: C41; }
.cat-input-51   { grid-area: C51; }
.cat-input-61   { grid-area: C61; }
.cat-input-71   { grid-area: C71; }
.cat-input-72   { grid-area: C72; }

.cat-container {
	display: grid;
	font-size: 12px;
	grid-template-columns: 1fr 11fr 1fr 1fr 5fr 1fr 1fr 4fr;
  	grid-template-rows: 3% 4% 3% 4% 3% 7% 3% 10% 3% auto;
  	grid-template-areas: 
  		"H11 H11 .   H12 H12 H12 H12 H12"
  		".   C11 .    .  C12 C12 C12 C12"
  		"H21 H21 .   H22 H22 .   H23 H23"
  		".   C21 .    .  C22 .   C23 C23"
  		"H31 H31 .    .  .   .   .   ."
  		".   C31 .    .  C32 .   C33 C33"
  		"H41 H41 .    .  .   .   .   ."
  		".   C41 C41 C41 C41 C41 C41 C41"
  		"H51 H51 H51 H51 H51 H51 H51 H51"
  		"H61 H61 H61 H61 H61 H61 H61 H61"
  		".   C61 C61 C61 C61 C61 C61 C61";

  	grid-row-gap:2px;
  	grid-column-gap:0;
    height: 80vh;
}
.book-container {
	display: grid;
	font-size: 16px;
	grid-template-columns: 1fr 11fr 1fr 1fr 5fr 1fr 1fr 4fr;
  	grid-template-rows: 3% 4% 3% 4% 3% 7% 3% 7% 3% auto;
  	grid-template-areas: 
  		"H11 H11 .   H12 H12 H12 H12 H12"
  		".   C11 .    .  C12 C12 C12 C12"
  		"H21 H21 .   H22 H22 .   H23 H23"
  		".   C21 .    .  C22 .   C23 C23"
  		"H31 H31 .    .  .   .   .   ."
  		".   C31 .    .  C32 .   C33 C33"
  		"H41 H41 .    .  .   .   .   ."
  		".   C41 C41 C41 C41 C41 C41 C41"
  		"C71 C71 C71 C71 C71 .   .   C72";

  	grid-row-gap:2px;
  	grid-column-gap:0;
}

img.blowout:hover {
    transform: scale(2, 2);
}
img.zoom:hover {
   transform: scale(3, 3);
}
.material-switch>label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch>label::before {
    background: #a40000;
    border-radius: 8px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    content: '';
    height: 16px;
    margin-top: 0;
    position: absolute;
    opacity: 0.3;
    transition: all .4s ease-in-out;
    width: 40px;
}

.material-switch>label::after {
	background: #a40000;
    border-radius: 16px;
    box-shadow: 0 0 5px rgba(164, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: 0;
    position: absolute;
    top: -4px;
    transition: all 0.5s ease-in-out;
    width: 24px;
}

.material-switch>input[type="checkbox"]:checked+label::before {
    background: #4e9a06;
    opacity: 0.5;
}

.material-switch>input[type="checkbox"]:checked+label::after {
    background: #4e9a06;
    left: 30px;
}
.checkbox-hide, .hide-calendar {
	display: none;
}
#age {
	font-size: 60%;
	border-radius: 3px;
    background: #EEE;
}
.noedit {
	pointer-events: none;
    border: 0;
    border-bottom: 1px solid red;
    padding-bottom: 0 !important;
}

details[open] summary {
  color: blue;
}
tr.parent ~ .child {
  display: none;
}
.open .parent ~ .child {
  display: table-row;
}
.parent {
  cursor: pointer;
}
tbody.data-table {
  color: #212121;
}
.open {
  background-color: #e6e6e6;
}

.open .child {
  background-color: #999;
  color: white;
}
.parent > *:last-child {
  width: 30px;
}
.parent i {
  transform: rotate(0deg);
  transition: transform .3s cubic-bezier(.4,0,.2,1);
  margin: -.5rem;
  padding: .5rem;
 
}
.open .parent i {
  transform: rotate(180deg)
}
.scroll {
   display:block;
   border: 1px solid red;
   padding:5px;
   margin-top:5px;
   width:100%;
   height:300px;
   overflow:scroll;
}
.book-appointment {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas: 
  		"P11 P12"
  		"P2  P2";
}
.book-date-label  { grid-area: P11; }
.book-date-action { grid-area: P12; }
.book-date-select { grid-area: P2; }

.radio_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25vh;
  font-family: "Roboto", sans-serif;
}

.radio_list {
  flex: 0 0 20rem;
  list-style-type:none;
}

.list__item {
  position: relative;
}
.list__item:hover > label {
  color: #009688;
}
.list__item:hover > .radio_label::before {
  border: 0.5rem solid #009688;
  margin-right: 2rem;
}

.radio_btn {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.radio_btn:checked + .radio_label {
  color: #009688;
}
.radio_btn:checked + .radio_label::before {
  margin-right: 2rem;
  border: 0.5rem solid #009688;
  background: #fff;
}

.radio_label {
  display: flex;
  align-items: center;
  padding: 0.25rem 0;
  color: #0000ff;
  font-size: 1.25rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.25s linear;
}

.radio_label::before {
  display: inline-block;
  content: "";
  height: 1.125rem;
  width: 1.125rem;
  margin-right: 0.625rem;
  border: 0.5rem solid #fff;
  border-radius: 50%;
  transition: all 0.25s linear;
}
.slider-range {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
}
    
    